C:\git2\br.procon.si.Core.Infra.Identity.csproj
C:\git2\br.procon.si.Infra.Email.csproj
C:\git2\br.procon.si.Infra.Notificacao.csproj
C:\git2\br.procon.Fiscalizacao.Model.csproj
C:\git2\br.procon.Fiscalizacao.Core.csproj
C:\git2\br.procon.Fiscalizacao.Core.Services.csproj
C:\git2\br.procon.si.FiscalizacaoOperacional.Application.csproj
C:\git2\br.procon.si.FiscalizacaoOperacional.Data.csproj
C:\git2\br.procon.si.FiscalizacaoOperacional.Domain.csproj
C:\git2\br.procon.si.FiscalizacaoOperacional.Infra.csproj
c:\git2\br.procon.Fiscalizacao.Infrastructure.csproj
c:\git2\br.procon.si.Paradas.Application.csproj
c:\git2\br.procon.si.Seguranca.Application.csproj
c:\git2\br.procon.si.Protocolo.Application.csproj
c:\git2\br.procon.si.Protocolo.Data.csproj
c:\git2\br.procon.si.Protocolo.Infra.csproj
c:\git2\br.procon.si.Protocolo.Domain.csproj
c:\git2\br.procon.si.Atendimento.Application.csproj
c:\git2\br.procon.si.Atendimento.Data.csproj
c:\git2\br.procon.si.Atendimento.Infra.csproj
c:\git2\br.procon.si.Atendimento.Domain.csproj
c:\git2\br.procon.si.UI.ConsumidorApp.csproj
c:\git2\br.procon.Fiscalizacao.Application.csproj
