..\br.procon.Fiscalizacao.Interface\br.procon.Fiscalizacao.Interface|..\..\servicos\br.procon.Fiscalizacao.Interface\br.procon.Fiscalizacao.Interface
..\br.procon.si.Core.Domain.Mensagens\br.procon.si.Core.Domain.Mensagens|..\..\servicos\br.procon.si.Core.Domain.Mensagens
..\br.procon.si.UI.ConsumidorApp\br.procon.si.UI.ConsumidorApp|..\..\servicos\br.procon.si.UI.ConsumidorApp
..\br.procon.Fiscalizacao.Model\br.procon.Fiscalizacao.Model|..\..\servicos\br.procon.Fiscalizacao.Model
..\br.procon.si.Atendimento.Application\br.procon.si.Atendimento.Application|..\..\servicos\br.procon.si.Atendimento.Application
..\br.procon.si.Atendimento.Domain\br.procon.si.Atendimento.Domain|..\..\servicos\br.procon.si.Atendimento.Domain
..\br.procon.si.Core.Domain\|..\..\core\br.procon.si.Core.Domain\
..\br.procon.si.Core.Infra\|..\..\core\br.procon.si.Core.Infra\
..\br.procon.si.Core.Data|..\..\core\br.procon.si.Core.Data
..\br.procon.si.Core.Infra.Identity|..\..\infra\br.procon.si.Core.Infra.Identity
..\br.procon.si.Infra.Email|..\..\infra\br.procon.si.Infra.Email
..\br.procon.si.Infra.Notificacao|..\..\infra\br.procon.si.Infra.Notificacao
..\br.procon.si.FiscalizacaoOperacional.Application\|..\..\br.procon.si.FiscalizacaoOperacional.Application\
..\br.procon.si.FiscalizacaoOperacional.Domain\|..\..\br.procon.si.FiscalizacaoOperacional.Domain\
..\br.procon.Fiscalizacao.Application\|..\..\br.procon.Fiscalizacao.Application\
..\br.procon.Fiscalizacao.Core.Services\|..\..\br.procon.Fiscalizacao.Core.Services\
..\br.procon.Fiscalizacao.Core\|..\..\br.procon.Fiscalizacao.Core\
..\br.procon.Fiscalizacao.Infrastructure\|..\..\br.procon.Fiscalizacao.Infrastructure\
..\br.procon.si.Parada.Application\|..\..\br.procon.si.Parada.Application\
..\br.procon.si.Protocolo.Application\|..\..\br.procon.si.Protocolo.Application\
..\br.procon.si.Protocolo.Domain\|..\..\br.procon.si.Protocolo.Domain\
..\br.procon.si.Seguranca.Application\|..\..\br.procon.si.Seguranca.Application\
..\packages|..\..\packages