..\br.procon.si.Core.Domain\|..\..\core\br.procon.si.Core.Domain\
..\br.procon.si.Core.Infra\|..\..\core\br.procon.si.Core.Infra\
..\br.procon.si.Core.Data|..\..\core\br.procon.si.Core.Data
..\br.procon.si.Core.Infra.Identity|..\..\infra\br.procon.si.Core.Infra.Identity
..\br.procon.si.Infra.Email|..\..\infra\br.procon.si.Infra.Email
..\br.procon.si.Infra.Notificacao|..\..\infra\br.procon.si.Infra.Notificacao
..\packages|..\..\packages